body {
  margin: 0;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 3px solid #555;
  image-rendering: pixelated;
}

@font-face {
  font-family: 'PixelFont';
  src: url('https://fonts.cdnfonts.com/s/16691/PressStart2P-Regular.woff') format('woff');
}

body {
  font-family: 'PixelFont';
}
